############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo

############################
# IDE
############################
.vscode/
.idea/

############################
# Logs
############################
*.log
nohup.out
nohup*.out

############################
# Outputs
############################
dpo/outputs/
sft/outputs/
tts/outputs/

############################
# Models
############################
Qwen1.5-0.5B-Chat/
Qwen2.5-Coder-1.5B-Instruct/
Qwen3-1.7B/
Qwen3-1.7B-Base/

############################
# Datasets
############################
mbpp/
py-dpo-v0.1/
python_code_instructions_18k_alpaca/

############################
# Temporary
############################
.cache/
*.tmp

############################
# Office
############################
*.ppt
*.pptx
*.doc
*.docx

############################
# Database
############################
*.db

############################
# Model files
############################
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

############################
# HuggingFace Cache
############################
.cache/